.navbar {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0px;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-between; }
  .navbar ul {
    list-style-type: none;
    list-style-position: initial;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    font-size: 1em;
    align-items: center;
    text-align: center; }
  .navbar li {
    display: flex;
    margin: 0px 0px 0px 50px; }
    .navbar li a {
      color: #1e90ff;
      text-decoration: none; }

.navbar-brand {
  font-family: 'Unica One', cursive;
  font-size: 1.5em;
  font-weight: 800;
  color: #f5d76e;
  margin-left: 100px; }
  .navbar-brand a {
    color: #1e90ff;
    text-decoration: none; }

.navbar-menu-center {
  align-self: center; }

.navbar-menu-right {
  margin-right: 100px; }

#art-parens {
  color: #000000; }

.toggle-nav {
  display: none; }

#hide-menu {
  display: none; }

@media screen and (max-width: 40rem) {
  .navbar-menu-center {
    position: relative;
    display: inline-block; }
  .navbar-menu-center ul {
    position: fixed;
    top: 60px;
    right: 5px;
    padding: 10px 18px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    display: block;
    background: white; }
  .navbar-menu-center li {
    margin: 5px 0px 5px 0px;
    float: none;
    display: block; }
  .navbar-menu-center i {
    display: block; }
  .toggle-nav {
    padding: 20px;
    display: inline-block;
    color: #1e90ff;
    font-size: 20px;
    transition: color linear 0.15s;
    position: fixed;
    right: 1em;
    top: 10px; } }
