* {
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  position: relative;
  padding-bottom: 6em;
  min-height: 100%;
  margin: 0px;
  font-family: 'Karla', sans-serif;
  background-color: #ffffff;
  font-size: 1em; }

.large-font {
  font-size: 3em; }

.high-contrast {
  background-color: #000000;
  color: #f5d76e; }
  .high-contrast a {
    color: #acc4de; }

.container {
  padding: 90px 100px 0px 100px; }

.hero-img {
  width: 100%;
  height: 400px; }
  .hero-img img {
    object-fit: cover; }

.content {
  display: flex; }

.fixed-sidebar {
  position: sticky; }

.navbar {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0px;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-between; }
  .navbar ul {
    list-style-type: none;
    list-style-position: initial;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    font-size: 1em; }
  .navbar li {
    display: flex;
    margin: 0px 0px 0px 50px; }
    .navbar li a {
      color: #1e90ff;
      text-decoration: none; }

.navbar-brand {
  font-family: 'Unica One', cursive;
  font-size: 1.5em;
  font-weight: 800;
  color: #f5d76e;
  margin-left: 100px; }
  .navbar-brand a {
    color: #1e90ff;
    text-decoration: none; }

.navbar-menu-center {
  align-self: center; }

.navbar-menu-right {
  margin-right: 100px; }

#art-parens {
  color: #345d8a; }

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  width: 100%;
  min-height: 6em;
  bottom: 0;
  font-size: 1em; }
  .footer ul {
    list-style-type: none;
    list-style-position: initial;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%; }
  @media screen and (max-width: 40rem) {
    .footer ul {
      flex-direction: column; }
    .footer .social {
      flex-direction: row; }
      .footer .social li {
        padding: 5px; } }
  .footer li {
    display: block;
    text-align: center;
    color: #1e90ff; }
    .footer li .footer-text {
      margin: 0; }
    .footer li a {
      color: #1e90ff;
      text-decoration: none; }
