.large-font {
  font-size: 3em; }

.high-contrast {
  background-color: #000000;
  color: #ffffff; }
  .high-contrast a {
    color: #f5d76e; }
  .high-contrast .navbar {
    background-color: #000000; }
    .high-contrast .navbar a {
      color: #f5d76e; }
    .high-contrast .navbar #art-parens {
      color: #ffffff; }
  .high-contrast .footer {
    background-color: #000000;
    color: #f5d76e; }
    .high-contrast .footer a {
      color: #f5d76e; }
