// Home page
.event-row {
  @extend .clearfix;
  padding-bottom: 2em;
}

.event-list {
  @extend .clearfix;
  display: block;
  width: 100%;
  list-style: none;
  padding: 0;
}

.event-in-list {
  @extend .clearfix;
  display: block;
  float: left;
  width: 100%;
  margin: 1.5em auto;
  padding-bottom: 1em;
  font-size: 1.2em;
  // border-bottom: 1px solid rgba($black, 0.4);
  a {
    color: inherit;
    text-decoration: none;
  }
}

.event-in-list__display-img {
  position: relative;
  display: block;
  float: left;
  width: 60%;
  margin-right: 1em;
  padding-top: 40%;
  overflow: hidden;
  border-radius: 2px;

  img {
    position: absolute;
    display: block;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
}

//  Events page
.event-card {
  border-bottom: 0.2em solid $bright-blue;
  background-color: $white;
  min-height: 35em;
}

.event-card-text {
  padding: 0em 2em 1em 2em;
}

.event-card__ticket-btn {
  display: block;
  margin: 2em auto;
}

.event-calendar-toggle {
  margin-bottom: 2em;
}

.event-calendar-toggle-button {
  border: none;
  background: none;
  outline: none;
  font: inherit;
  cursor: pointer;
}
