@import "variables";

.footer {
  background-color: $bright-blue;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  bottom: 0;
  min-height: 6em;
  font-size: 1em;
  color: $white;

  *:focus {
    outline-color: $white;
  }

  ul {
    list-style-type: none;
    list-style-position: initial;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  @media screen and (max-width: $breakpoint-medium) {
    ul {
      flex-direction: column;
    }
    .social {
      flex-direction: row;
      li {
        padding: 5px;
      }
    }
  }


  li {
    display: block;
    text-align: center;
    .footer-text {
      margin: 0;
    }

    a {
      color: $white;
      text-decoration: none;
    }
  }
}
