.home-content {
  margin: 1em 0;
}

.high-contrast {
  .home-content {
    background: lighten($black, 8);
  }
}

#lil-about-box {
  font-size: 1.5em;
  font-weight: 800;
  line-height: 140%;
}

#lil-about-text {
  padding: 1em;

  p {
    margin: 0;
  }
}

#call-to-action-box {
  background-color: lighten($yellow, 8);
  color: lighten($black, 8);
}

#call-to-action-text {
  padding: 1em;
  h3 {
    margin: 0;
  }
  a {
    color: $medium-blue;
  }

}

.pagination-container {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  button {
    width: 2em;
    height: 2em;
    margin-left: .5em;
    padding: auto;
    background-color: $bright-blue;
    color: $white;
    border: none;
    outline: none;
    font: inherit;
  }
}
