.home-content {
  background-color: $white;
  margin-top: 1.5em;
  display: flex;

  @media screen and (max-width: $breakpoint-medium) {
      display: block;
  }
}

.high-contrast {
  .home-content {
    background: lighten($dark-gray, 8);
  }
}

#lil-about-box {
  font-size: 1.6em;
  line-height: 140%;
  align-self: center;
}

#lil-about-text {
  padding: 1em;

  @media screen and (max-width: $breakpoint-medium) {
      padding: 10px;
  }
}

#call-to-action-box {
  background-color: $orange;
  color: $dark-gray;
  font-size: 1.4em;
}

#call-to-action-text {
  padding: 1em;
  h3 {
    margin: 0;
  }
  a {
    color: $white;
    border-bottom: solid 0.13em white;
    padding-bottom: 0.1em;
  }

  @media screen and (max-width: $breakpoint-medium) {
      padding: 10px;
  }
}


.pagination-container {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  button {
    width: 2em;
    height: 2em;
    margin-left: .5em;
    padding: auto;
    background-color: lighten($bright-blue, 15);
    color: $white;
    border: none;
    outline: none;
    font: inherit;
    cursor: pointer;
  }
  .active {
    background-color: $bright-blue;
  }
}

.high-contrast {
  .pagination-container {
    button {
      background-color: lighten($dark-gray, 15);
      color: $black;
    }
    .active {
      background-color: $yellow;
    }
  }
}
