html {
  height: 100%;
  color: $dark-gray;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0px;
  font-family: 'Karla', sans-serif;
  background-color: $light-gray;
  font-size: 1em;
  a {
    color: $bright-blue;
    text-decoration: none;
  }
}

.app-container {
  min-height: 100vh;
}

.container {
  width: $page-width;
  max-width: $max-page-width;
  margin: 0 auto;
  padding-top: $navbar-height;
  padding-bottom: 3em;
}

@media screen and (max-width: $breakpoint-medium) {
  .video {
    margin: 0;
    max-width: 23rem;
    height: auto;
  }

  iframe {
    width: 100%;
  }
  .content-sidebar-container {
    display: flex;
    flex-direction: column-reverse;
  }
  .content-sidebar-container div {
    width: 100%;
  }
  .event {
    width: 100%;
    padding: 1em 0;
  }
  .event-row {
    padding-bottom: 0;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .fixed-sidebar {
    position: auto;
    top: auto;
    padding-top: 0em;
    margin: 2em auto;
    text-align: center;
  }
  .home-content {
    display: static;
  }
}

.hero-img {
  width: 100%;
  height: 35vw;
  max-height: $max-page-width * 0.5;
  overflow: hidden;
  img {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
}

.hero-img--top {
  img {
    top: 0;
    transform: none;
  }
}

.hero-img--bottom {
  img {
    top: auto;
    bottom: 0;
    transform: none;
  }
}

.content {
  display: flex;
}

.page-wrapper {
  padding-bottom: 5em;
}

#big-calendar {
  z-index: 1;
}

.active-events-view {
  color: $bright-blue;
}

.white {
  color: $white;
}

.anchor-adjust {
  padding-top: $navbar-height;
  margin-top: -$navbar-height;
  width: 0;
  position: absolute;
}

.page-title {
  font-size: 2em;
  padding: 0;
}
