  @import "variables";
.navbar {
  position: fixed;
  z-index: 100;
  top: 0;
  display: flex;
  width: 100%;
  padding: 10px 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: $white;
}

.navbar-container {
  width: $page-width;
  max-width: $max-page-width;
  background-color: inherit;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  ul {
    list-style-type: none;
    list-style-position: initial;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
  }
  li {
    display: flex;
    margin: 0px 0px 0px 50px;
    @media screen and (max-width: $breakpoint-large) {
      margin: 0px 0px 0px 1vw;
    }
  }
  a {
    color: $bright-blue;
    text-decoration: none;
  }

  .toggle-nav {
    display: none;
  }
}

.navbar-brand {
  font-family: 'Unica One', cursive;
  font-size: 30px;
  color: $yellow;
  margin: 0;
  a {
    color: $bright-blue;
    text-decoration: none;
  }
}

.navbar-menu-center {
  font-size: 1.1em;
}

.navbar-menu-right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 20px;
}

#art-parens {
  color: $black;
}

.navbar-button {
  border: none;
  background: none;
  outline: none;
  font: inherit;
  color: $bright-blue;
  cursor: pointer;
}

@media screen and (max-width : $breakpoint-large) {
  .navbar-menu-center {
    position: relative;
    display: inline-block;
    font-size: 1.4em;
  }
  .navbar-menu-center {
    ul {
      position: fixed;
      top: $navbar-height;
      right: 5px;
      padding: 10px 18px;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
      border-radius: 2px;
      display: block;
      background-color: $white;
    }

    .hide-menu {
      position: absolute;
      box-sizing: border-box;
      overflow: hidden;
      width: 0px;
      height: 0px;
      padding: 0;
      z-index: -100;
    }
  }
  .navbar-menu-center li {
    margin: 5px 0px 5px 0px;
    float: none;
    display: block;
  }
  .navbar-menu-center i {
    display: block;
  }
  .navbar-container .toggle-nav {
    display: block;
  }
  #hamburger-button {
    z-index: 10;
  }

}

.skip-nav {
  position: absolute;
  opacity: 0;
  z-index: -5;
}
