.fixed-sidebar {
  position: -webkit-sticky; // required for Safari
  position: sticky;
  margin-top: $navbar-height * .66;
  top: $navbar-height; // required as well.
}

.sidebar-title {
  font-weight: 800;
  font-size: 1.2em;
  margin: 0 0 1em 0;
}

.menu-item {
  padding-bottom: 0.4em;
}

.toggle-video { // button
  margin-top: 1.5em;
}

.toggle-video-text { // button text
  font-size: 1.3em;
}
