@import "variables";



.large-font {
  font-size: 1.6em;
}

.high-contrast {
  background-color: $black;
  color: $white;
  a {
    color: $yellow;
  }

  .navbar-button {
    color: $yellow;
  }

  .navbar {
    background-color: $black;
    a {
      color: $yellow;
    }

    #art-parens {
      color: $white;
    }

    .navbar-menu-center ul {
      background-color: $black;
    }
  }

  .event-card {
    border-color: $white;
  }

  .btn-default {
    color: $black;
    background-color: $yellow;
    border: none;
  }

  .footer {
    background-color: $yellow;
    color: $black;
    a {
      color: $black;
    }
  }
}
