@import "variables";



.large-font {
  font-size: 1.6em;
}

.high-contrast {
  background-color: $black;
  color: $white;
  *:focus {
    outline-color: $yellow;
  }
  a {
    color: $yellow;
  }
  .rbc-btn-group {
    button {
      color: $yellow;
      background-color: $black;
    }
  }
  .rbc-event {
    color: $black !important;
    background-color: $yellow;
  }

  .navbar-button {
    color: $yellow;
  }

  .navbar {
    background-color: $black;
    a {
      color: $yellow;
    }

    #art-parens {
      color: $white;
    }

    .navbar-menu-center ul {
      background-color: $black;
    }
  }

  .event-card {
    background-color: lighten($black, 15);
    border-bottom: 0.2em solid $yellow;
  }

  .footer {
    background-color: $yellow;
    color: $black;
    *:focus {
      outline-color: $black;
    }
    a {
      color: $black;
    }
  }
}
