// Light-on-dark colors
$black: #000000;
$yellow: #f5d76e;

// Dark-on-light colors
$dark-gray: #4d4d4d; // dark gray color for text
$light-gray: #f3f3f2; // bkgd of body
$white: #ffffff;
$bright-blue: #1e90ff;
$orange: #ff8400;

$page-width: 85vw;
$max-page-width: 70rem;
$navbar-height: 90px;
$breakpoint-medium: 40rem;
$breakpoint-large: 75rem;
