// Light-on-dark colors
$black: #000000; // bkgd
$yellow: #f5d76e;

// Dark-on-light colors
$light-gray: #f3f3f2; // bkgd of body
$beige: #fbfdf1;
$white: #ffffff;
$bright-blue: #1e90ff;
$medium-blue: #345d8a;
$orange: #ff8400;
$blue-gray: #1c2833;

$page-width: 85vw;
$max-page-width: 70rem;
$navbar-height: 90px;
