@import "variables";

.navbar {
  background-color: $white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0px;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-between;
  z-index: 5;

  ul {
    list-style-type: none;
    list-style-position: initial;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    font-size: 1em;
  }

  li {
    display: flex;
    margin: 0px 0px 0px 50px;
    a {
      color: $bright-blue;
      text-decoration: none;
    }
  }
}

.navbar-brand {
  font-family: 'Unica One', cursive;
  font-size: 1.5em;
  font-weight: 800;
  color: $yellow;
  margin-left: 100px;
  a {
    color: $bright-blue;
    text-decoration: none;
  }
}

.navbar-menu-center {
  align-self: center;
}

.navbar-menu-right {
  margin-right: 100px;
}

#art-parens {
  color: $black;
}
