// Light-on-dark colors
$dark-gray: #181818; // bkgd possibility
$dark-blue: #02041d; // bkgd possibility
$black: #000000; // bkgd possibility
$light-blue: #acc4de;
$yellow: #f5d76e;

// Dark-on-light colors
$beige: #fbfdf1; // bkgd of body
$white: #ffffff; // bkgd of container
$bright-blue: #1e90ff;
$medium-blue: #345d8a;
