.clearfix::before, .event-row::before, .event-list::before, .event-in-list::before, .clearfix::after, .event-row::after, .event-list::after, .event-in-list::after {
  content: '';
  display: block;
  clear: both; }

html {
  box-sizing: border-box; }

*, *::before, *::after {
  position: relative;
  box-sizing: inherit; }

.btn {
  display: inline-block;
  margin: 0;
  padding: 0.6em 0.9em;
  font-size: 1em;
  border: 0.15em solid #1e90ff;
  border-radius: 0.3em;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  color: #1e90ff;
  background: inherit;
  z-index: 5; }
  .btn:hover {
    color: #ffffff;
    background: #1e90ff; }

.high-contrast .btn {
  border-color: #f5d76e;
  color: #f5d76e; }
  .high-contrast .btn:hover {
    color: #000000;
    background: #f5d76e; }

.btn--large {
  font-size: 1.3em; }

.btn--invert {
  color: #ffffff;
  background: #1e90ff; }
  .btn--invert:hover {
    color: #1e90ff;
    background: #ffffff; }

.high-contrast .btn--invert {
  color: #000000;
  background: #f5d76e; }
  .high-contrast .btn--invert:hover {
    color: #f5d76e;
    background: inherit; }

.event-row {
  padding-bottom: 2em; }

.event-list {
  display: block;
  width: 100%;
  list-style: none;
  padding: 0; }

.event-in-list {
  display: block;
  float: left;
  width: 100%;
  margin: 1.5em auto;
  padding-bottom: 1em;
  font-size: 1.2em; }
  .event-in-list a {
    color: inherit;
    text-decoration: none; }

.event-in-list__display-img {
  position: relative;
  display: block;
  float: left;
  width: 60%;
  margin-right: 1em;
  padding-top: 40%;
  overflow: hidden;
  border-radius: 2px; }
  .event-in-list__display-img img {
    position: absolute;
    display: block;
    width: 100%;
    top: 50%;
    transform: translateY(-50%); }

.event-card {
  border-bottom: 0.2em solid #1e90ff;
  background-color: #ffffff;
  min-height: 35em; }

.event-card-text {
  padding: 0em 2em 1em 2em; }

.event-calendar-toggle {
  margin-bottom: 2em; }

.event-calendar-toggle-button {
  border: none;
  background: none;
  outline: none;
  font: inherit;
  cursor: pointer; }

.fixed-sidebar {
  position: -webkit-sticky;
  position: sticky;
  margin-top: -72px;
  top: 108px; }

.sidebar-title {
  font-weight: 800;
  font-size: 1.2em;
  margin: 0 0 1em 0; }

.menu-item {
  padding-bottom: 0.4em; }

.toggle-video {
  margin-top: 1.5em; }

.toggle-video-text {
  font-size: 1.3em; }

.home-content {
  background-color: #ffffff;
  margin-top: 1.5em;
  display: flex; }
  @media screen and (max-width: 40rem) {
    .home-content {
      display: block; } }

.high-contrast .home-content {
  background: #141414; }

#lil-about-box {
  font-size: 1.6em;
  line-height: 140%;
  align-self: center; }

#lil-about-text {
  padding: 1em; }
  #lil-about-text p {
    margin: 0; }

#call-to-action-box {
  background-color: #ff8400;
  color: #000000;
  font-size: 1.4em; }

#call-to-action-text {
  padding: 1em; }
  #call-to-action-text h3 {
    margin: 0; }
  #call-to-action-text a {
    color: #ffffff;
    border-bottom: solid 0.13em white;
    padding-bottom: 0.1em; }

.pagination-container {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }
  .pagination-container button {
    width: 2em;
    height: 2em;
    margin-left: .5em;
    padding: auto;
    background-color: #1e90ff;
    color: #ffffff;
    border: none;
    outline: none;
    font: inherit;
    cursor: pointer; }
  .pagination-container .active {
    background-color: #70B8FF; }

html {
  height: 100%;
  color: #000000; }

body {
  position: relative;
  min-height: 100%;
  margin: 0px;
  font-family: 'Karla', sans-serif;
  background-color: #f3f3f2;
  font-size: 1em; }
  body a {
    color: #1e90ff;
    text-decoration: none; }

.app-container {
  min-height: 100vh; }

.container {
  width: 85vw;
  max-width: 70rem;
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 3em; }

@media screen and (max-width: 40rem) {
  .video {
    margin: 0;
    max-width: 23rem;
    height: auto; }
  iframe {
    width: 100%; }
  .content-sidebar-container {
    display: flex;
    flex-direction: column-reverse; }
  .content-sidebar-container div {
    width: 100%; }
  .event {
    width: 100%;
    padding: 1em 0; }
  .event-row {
    padding-bottom: 0;
    margin-left: 0 !important;
    margin-right: 0 !important; }
  .fixed-sidebar {
    position: auto;
    top: auto;
    padding-top: 0em;
    margin: 2em auto;
    text-align: center; }
  .home-content {
    display: static; } }

.hero-img {
  width: 100%;
  height: 35vw;
  max-height: 35rem;
  overflow: hidden; }
  .hero-img img {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%; }

.hero-img--top img {
  top: 0;
  transform: none; }

.hero-img--bottom img {
  top: auto;
  bottom: 0;
  transform: none; }

.content {
  display: flex; }

.page-wrapper {
  padding-bottom: 5em; }

#big-calendar {
  z-index: 1; }

.active-events-view {
  color: #1e90ff; }

.white {
  color: #ffffff; }

.anchor-adjust {
  padding-top: 90px;
  margin-top: -90px;
  width: 0;
  position: absolute; }

.page-title {
  font-size: 2em; }

.large-font {
  font-size: 1.6em; }

.high-contrast {
  background-color: #000000;
  color: #ffffff; }
  .high-contrast *:focus {
    outline-color: #f5d76e; }
  .high-contrast a {
    color: #f5d76e; }
  .high-contrast .navbar-button {
    color: #f5d76e; }
  .high-contrast .navbar {
    background-color: #000000; }
    .high-contrast .navbar a {
      color: #f5d76e; }
    .high-contrast .navbar #art-parens {
      color: #ffffff; }
    .high-contrast .navbar .navbar-menu-center ul {
      background-color: #000000; }
  .high-contrast .event-card {
    background-color: #262626;
    border-bottom: 0.2em solid #f5d76e; }
  .high-contrast .footer {
    background-color: #f5d76e;
    color: #000000; }
    .high-contrast .footer *:focus {
      outline-color: #000000; }
    .high-contrast .footer a {
      color: #000000; }

.navbar {
  position: fixed;
  z-index: 100;
  top: 0;
  display: flex;
  width: 100%;
  padding: 10px 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff; }

.navbar-container {
  width: 85vw;
  max-width: 70rem;
  background-color: inherit;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .navbar-container ul {
    list-style-type: none;
    list-style-position: initial;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center; }
  .navbar-container li {
    display: flex;
    margin: 0px 0px 0px 50px; }
    @media screen and (max-width: 80rem) {
      .navbar-container li {
        margin: 0px 0px 0px 1vw; } }
  .navbar-container a {
    color: #1e90ff;
    text-decoration: none; }
  .navbar-container .toggle-nav {
    display: none; }

.navbar-brand {
  font-family: 'Unica One', cursive;
  font-size: 30px;
  color: #f5d76e;
  margin: 0; }
  .navbar-brand a {
    color: #1e90ff;
    text-decoration: none; }

.navbar-menu-center {
  font-size: 1em; }

.navbar-menu-right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 20px; }

#art-parens {
  color: #000000; }

.navbar-button {
  border: none;
  background: none;
  outline: none;
  font: inherit;
  color: #1e90ff;
  cursor: pointer; }

@media screen and (max-width: 80rem) {
  .navbar-menu-center {
    position: relative;
    display: inline-block; }
  .navbar-menu-center ul {
    position: fixed;
    top: 3em;
    right: 5px;
    padding: 10px 18px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    display: block;
    background-color: #ffffff; }
  .navbar-menu-center .hide-menu {
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
    width: 0px;
    height: 0px;
    padding: 0;
    z-index: -100; }
  .navbar-menu-center li {
    margin: 5px 0px 5px 0px;
    float: none;
    display: block; }
  .navbar-menu-center i {
    display: block; }
  .navbar-container .toggle-nav {
    display: block; }
  #hamburger-button {
    z-index: 10; } }

.skip-nav {
  position: absolute;
  opacity: 0;
  z-index: -5; }

.footer {
  background-color: #1e90ff;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  bottom: 0;
  min-height: 6em;
  font-size: 1em;
  color: #ffffff; }
  .footer *:focus {
    outline-color: #ffffff; }
  .footer ul {
    list-style-type: none;
    list-style-position: initial;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%; }
  @media screen and (max-width: 40rem) {
    .footer ul {
      flex-direction: column; }
    .footer .social {
      flex-direction: row; }
      .footer .social li {
        padding: 5px; } }
  .footer li {
    display: block;
    text-align: center; }
    .footer li .footer-text {
      margin: 0; }
    .footer li a {
      color: #ffffff;
      text-decoration: none; }

.mc-field-group {
  display: flex;
  flex-direction: row;
  margin: 15px 0px;
  align-items: center; }
  .mc-field-group label {
    flex: 1; }
  .mc-field-group input {
    flex: 2;
    margin-left: 20px;
    font-size: 1em;
    border-radius: 4px;
    min-height: 2em; }

#mc_embed_signup {
  margin: 1em 0; }

#mc_embed_signup_scroll {
  display: flex;
  flex-direction: column; }

.single-event p {
  font-size: 1.2em; }

.single-event ul {
  max-width: 40rem;
  margin: 2em auto;
  padding: 0;
  font-size: 1.2em;
  text-align: left;
  list-style: none; }
  .single-event ul ul {
    float: right;
    width: 50%;
    margin: 0;
    font-size: inherit;
    padding-left: 1em;
    text-align: right; }
    .single-event ul ul li {
      margin: 0; }
    .single-event ul ul::after {
      content: '';
      position: absolute;
      right: 0;
      display: block;
      width: 200%;
      border-bottom: 0.1em dashed #1e90ff; }

.single-event li {
  margin: 2em auto; }
  .single-event li::before, .single-event li::after {
    content: '';
    display: block;
    clear: both; }

.single-event__section {
  margin: 5em auto; }

.single-event__date {
  font-weight: 600; }

.single-event__ticket-btn {
  float: right;
  text-align: right; }

.high-contrast ul ul::after {
  border-color: #f5d76e; }

.video-wrapper {
  padding-top: 56.25%;
  overflow: hidden; }

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
